<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="question"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>

<body>
<div th:insert="navigation::nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>Question</h2>
            <hr>
            <div class="media" >
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded"
                             th:src="${creator.getAvatarUrl()}">
                    </a>
                    <span th:text="${creator.getName()}"></span>
                </div>
                <div class="media-body">

                    <h4 class="media-heading" th:text="${questionDTO.getTitle()}"></h4>
                    <span th:text="${questionDTO.getDescription()}"></span>
                    <br>
                    <span class="text-desc">
                            • <span th:text="${questionDTO.getCommentCount()}"></span> 个回复
                            • <span th:text="${questionDTO.getViewCount()}"></span> 次浏览
                            • <span th:text="${#dates.format(questionDTO.gmtModified,'yyyy-MM-dd HH:mm:ss')}"></span>

                        </span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs">
            <h3>Hot topic(s)</h3>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

            <h2><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>Reply(ies)</h2>
            <hr>
            <div class="media" th:each="reply: ${replies}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded"
                             th:src="${reply.getCreator().getAvatarUrl()}">
                    </a>
                    <span th:text="${reply.getCreator().getName()}"></span>
                </div>
                <div class="media-body">
                    <span th:text="${reply.getDescription()}"></span>
                    <br>
                    <span class="text-desc">
                    • <span th:text="${#dates.format(reply.getGmtCreate(),'yyyy-MM-dd HH:mm:ss')}"></span>
                    </span>

                    <br>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-console" aria-hidden="true"></span>Type your reply</h2>
            <hr>
            <form th:action="@{/reply/(qId=${questionDTO.getId()})}" method="post">
                <div class="form-group">
                    <label for="reply">Reply content</label>
                    <textarea name="reply" id="reply" class="form-control" cols="30" rows="10" ></textarea>
                </div>
                <button type="submit" class="btn btn-success btn-publish">Reply</button>
            </form>
        </div>

    </div>
</div>


</body>
</html>